body {
    margin: 0;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  canvas {
    border: 2px solid #fff;
    background-color: #000;
  }
  